/* Pen-specific styles */
* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
}

section {
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  left: 50%;
  top: 20%;
}

h1 {
  font-size: 3.5rem;
  margin: 0 0 0.75rem 0;
  color: white;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  background: url(red-pill.png);
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  border-right: 3px solid black;
}

.left-half:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.5;
}

.right-half {
  background: url(blue-pill.png);
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  border-left: 3px solid black;
}

.right-half:hover > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.5;
}

.info {
  color: white;
  top: 50%;
  position: relative;
  display: block;
  font-size: 1.5rem;
}


/*!* Pen-specific styles *!*/
/*html, body, section {*/
  /*height: 100%;*/
/*}*/

/*body {*/
  /*color: #fff;*/
  /*font-family: sans-serif;*/
  /*font-size: 1.25rem;*/
  /*line-height: 150%;*/
  /*text-align: center;*/
  /*text-shadow: 0 2px 2px #b6701e;*/
/*}*/

/*div {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
/*}*/

/*h1 {*/
  /*font-size: 1.75rem;*/
  /*margin: 0 0 0.75rem 0;*/
/*}*/

/*!* Pattern styles *!*/
/*.container {*/
  /*display: flex;*/
/*}*/

/*.left-half {*/
  /*background-color: #ff9e2c;*/
  /*flex: 1;*/
  /*height: 100%;*/
/*}*/

/*.right-half {*/
  /*background-color: #b6701e;*/
  /*flex: 1;*/
/*}*/
